.pageContainer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  max-width: 1353px;
  margin: 0 auto;
}

.heroSection {
  width: 64%;
}

.heroImage {
   
  object-fit: contain;
  width: 90%;
}

.secondaryImage {
  object-fit: contain;
  width: 215px;
  margin-top: 10px;
}

@media (max-width: 991px) {
  .mainContent {
    flex-direction: column;
    padding: 1rem;
    align-items: center;
  }


  .secondaryImage {
    margin-top: 16px;
  }

 
}